<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Google Search Data Viewer" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Please sign in to use this service</h2>

  </article>
</section>
