<main class="container">
  <nav>
  <ul>
    <li><%= link "Sign up", to: Routes.user_path(@conn, :new), method: :get %></li> 
    <li><%= link "Sign in", to: Routes.session_path(@conn, :new), method: :get %></li>
  </ul>
  </nav>

  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
